<!DOCTYPE html>
<html>
    
    <head>

        <meta charset="UTF-8">
        <title>Dashboard</title>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </head>

    <body>

        <table>

            <tr>
                <th>Distribution</th>
                <th>Percentage</th>
                <th>Total</th>
                <th>Month</th>
                <th>Edit</th>
            </tr>

            {% for dist in list_distributions %}
            <tr>
                <td>{{dist.name}}</td>
                <td>{{dist.percentage}}</td>
                <td>{{dist.total}}</td>
                <td>{{dist.total_month}}</td>
                <td>
                    <form action="/distribution/percentage/edit" method="post">

                        <input type="number" name="dist_new_percentage" id="dist_new_percentage">

                        <input type="hidden" name="dist_name" id="dist_name" value='{{dist.name}}'>
            
                        <button type="submit" name="edit_percentage" value="edit_percentage">edit</button>
            
                    </form>
                </td>
            </tr>
            {% endfor %}

        </table>

        <table>
            
            <tr>
                <th>Location</th>
                <th>Money</th>
            </tr>

            {% for loc in list_locations %}
            <tr>
                <td>{{loc.name}}</td>
                <td>{{loc.money}}</td>
            </tr>
            {% endfor %}

        </table>

        <form action="/distribution/create" method="post">

            <label for="dist_percentage">Percentage: </label>
            <input type="number" name="dist_percentage" id="dist_percentage">

            <label for="dist_name">Name: </label>
            <input type="text" name="dist_name" id="dist_name">

            <button type="submit" name="create_distribution_button" value="create_distribution">create</button>

        </form>

        <form action="/location/create" method="post">

            <label for="loc_name">Name: </label>
            <input type="text" name="loc_name" id="loc_name">

            <button type="submit" name="create_location_button" value="create_location">create</button>

        </form>

        <form action="/start" method="post">

            <button type="submit" name="button_start_plan" value="start_plan">start</button>

        </form>

        <form action="/end" method="post">

            <button type="submit" name="button_end_month" value="end_month">end month</button>

        </form>

        <form action="/tests" method="post">

            <button type="submit" name="button_tests" value="tests">test</button>

        </form>

        <form action="/money/add/previous" method="post">

            <label for="dist_name">Distribution: </label>
            <select name="dist_name" id="dist_name">
                {% for dist in list_distributions %}
                    <option value='{{dist.name}}'>{{dist.name}}</option>
                {% endfor %}
            </select>

            <label for="loc_name">Location: </label>
            <select name="loc_name" id="loc_name">
                {% for loc in list_locations %}
                    <option value='{{loc.name}}'>{{loc.name}}</option>
                {% endfor %}
            </select>

            <label for="money">Money: </label>
            <input type="text" name="money" id="money">

            <button type="submit" name="button_add_previous_money" value="add_previous_money">add</button>

        </form>

        <form action="/money/add/static" method="post">

            <label for="loc_name">Location: </label>
            <select name="loc_name" id="loc_name">
                {% for loc in list_locations %}
                    <option value='{{loc.name}}'>{{loc.name}}</option>
                {% endfor %}
            </select>

            <label for="money">Money: </label>
            <input type="text" name="money" id="money">

            <button type="submit" name="button_add_static_income" value="add_static_income">add</button>

        </form>

        <form action="/money/add/variable" method="post">

            <label for="dist_name">Distribution: </label>
            <select name="dist_name" id="dist_name">
                {% for dist in list_distributions %}
                    <option value='{{dist.name}}'>{{dist.name}}</option>
                {% endfor %}
            </select>

            <label for="loc_name">Location: </label>
            <select name="loc_name" id="loc_name">
                {% for loc in list_locations %}
                    <option value='{{loc.name}}'>{{loc.name}}</option>
                {% endfor %}
            </select>

            <label for="money">Money: </label>
            <input type="text" name="money" id="money">

            <button type="submit" name="button_add_variable_income" value="add_variable_income">add</button>

        </form>

        <form action="/money/move/location" method="post">

            <label for="dist_name">Distribution: </label>
            <select name="dist_name" id="dist_name">
                {% for dist in list_distributions %}
                    <option value='{{dist.name}}'>{{dist.name}}</option>
                {% endfor %}
            </select>

            <label for="loc_name">Location: </label>
            <select name="loc_name" id="loc_name">
                {% for loc in list_locations %}
                    <option value='{{loc.name}}'>{{loc.name}}</option>
                {% endfor %}
            </select>

            <label for="loc_name2">Location: </label>
            <select name="loc_name2" id="loc_name2">
                {% for loc in list_locations %}
                    <option value='{{loc.name}}'>{{loc.name}}</option>
                {% endfor %}
            </select>

            <label for="money">Money: </label>
            <input type="text" name="money" id="money">

            <button type="submit" name="button_move_money_location" value="move_money_location">add</button>

        </form>

        <form action="/money/move/distribution" method="post">

            <label for="dist_name">Distribution: </label>
            <select name="dist_name" id="dist_name">
                {% for dist in list_distributions %}
                    <option value='{{dist.name}}'>{{dist.name}}</option>
                {% endfor %}
            </select>

            <label for="dist_name2">Distribution: </label>
            <select name="dist_name2" id="dist_name2">
                {% for dist in list_distributions %}
                    <option value='{{dist.name}}'>{{dist.name}}</option>
                {% endfor %}
            </select>

            <label for="loc_name">Location: </label>
            <select name="loc_name" id="loc_name">
                {% for loc in list_locations %}
                    <option value='{{loc.name}}'>{{loc.name}}</option>
                {% endfor %}
            </select>

            <label for="money">Money: </label>
            <input type="text" name="money" id="money">

            <label for="month">Take from month?</label>
            <input type="checkbox" name="month" id="month", value="True">

            <label for="month">Take from total?</label>
            <input type="checkbox" name="month" id="month", value="False">

            <button type="submit" name="button_move_money_distribution" value="move_money_distribution">add</button>

        </form>

        <br>
        <br>
        <br>
        <br>
        <form action="/spend" method="post">

            <label for="cost">Cost: </label>
            <input type="text" name="cost" id="cost">

            <label for="distribution">Distribution: </label>
            <input list="distributions" name="distribution" id="distribution">
                <datalist id="distributions">
                    <option value="ahorro"></option>
                    <option value="emergency"></option>
                    <option value="investment"></option>
                    <option value="gastos"></option>
                </datalist>

            <label for="location">Location: </label>
            <input list="locattions" name="locatio" id="location">
                <datalist id="locattions">
                    <option value="cash"></option>
                    <option value="rappi"></option>
                    <option value="emergency"></option>
                    <option value="bank"></option>
                </datalist>

            <label for="month">Take from month?</label>
            <input type="checkbox" name="month" id="month">

            <button type="submit">spend</button>
        </form>

    </body>

</html>