<!DOCTYPE html>
<html>
    
    <head>

        <meta charset="UTF-8">
        <title>Dashboard</title>

    </head>

    <body>

        <p>{{ distributions }} distributions</p>

        <form action="" method="post">

            <label for="name">Name: </label>
            <input type="text" name="name" id="name">
            <br>

            <label for="percentage">Percentage: </label>
            <input type="text" name="percentage" id="percentage">
            <br>

            <input type="submit" id="submit_distribution" name="submit_distribution" value="add_distribution">

        </form>

    </body>

</html>